header {
        display: inline-block;
        background-color: #FFFFFF;
        height: 400px;
        width: 90%;
        margin-left: 5%;
}
 
header div#avatar {
        float: left;
        margin-top: 100px;
        margin-left: 34%;
        height: 256px;
        width: 256px;
}

header div.name {
        position: relative;
        display: block;
        left: 2.5%;
        color: #523955;
        font-family: 'Roboto', serif;
        font-size: 325%;
}

header div.name#first {
        margin-top: 150px;
}

header div.name#last {
        margin-top: 50px;
}