nav {
	height: 75px;
    width: 90%;
    margin-top: -25px;
    margin-left: 5%;
    background: #523955;
}

#navbar li {
	display: block;
	float: left;
	width: 20%;
	margin-left: -.75%;
	line-height: 75px;
	text-align: center;
	list-style: none;
}

#navbar li a {
	text-decoration: none;
	font-size: 40px;
	color: #FFFFFF;
}

#navbar li.active a {
	color: #FFFF34;
}

#navbar li a:hover {
	color: #5076FF;
}

