nav {
	height: 50px;
    width: 90%;
    margin-top: -15px;
    margin-left: 5%;
    background: #523955;
}

#navbar li {
	display: block;
	float: left;
	width: 20%;
	margin-left: -.75%;
	line-height: 50px;
	text-align: center;
	list-style: none;
}

#navbar li a {
	text-decoration: none;
	font-size: 28px;
	font-family: 'Open Sans', sans-serif;
	color: #FFFFFF;
}

#navbar li.active a {
	color: #FF9999;
}

#navbar li a:hover {
	color: #5076FF;
}

