html, body {
    background-color: #F5F5F5;
    font-family: "Lato", sans-serif;
}

.fa-github-square {
	color: #000000;
}

.fa-github-square:hover {
	color: #888888;
}

.fa-linkedin-square {
	color: #0077B5;
}

.fa-linkedin-square:hover {
	color: #66CCF5;
}


.fa-facebook-square {
	color: #3b5998;
}

.fa-facebook-square:hover {
	color: #6bA9F8;
}

.nav-bar {
	width: 100vw;
	background-color: #0099FF;
	color: #FFFFFF;
	text-align: center;
}

.nav-bar-links {
	display: inline-block;
	list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.nav-bar-links li {
	float: left;
	
}



@media screen and (max-width:599px) {

	.header-container {
		margin: 0px;
		padding-left: 2vw;
		padding-right: 0vw;
		padding-top: .75vh;
		padding-bottom: .75vh;
		width: 100vw;
		height: 25vh;
	}

	.logo {
		float: left;
		position: relative;
		width: 96vw;
		margin-top: 0px;
		height: auto;
		display: inline-block;
	}

	.avatar {
		float: left;
	}

	.logo .profile-image {
		vertical-align: middle;
		width: 22vh;
		height: 25vh;
		-moz-box-shadow: 2px 2px 2px #000000;
	    -webkit-box-shadow: 2px 2px 2px #000000;
	    box-shadow: 2px 2px 2px #000000;
	    -moz-border-radius: 2px;
	    -webkit-border-radius: 2px;
	}

	.avatar-details {
		display: block;
		text-align: center;
		margin-left: 1vw;
	}

	.logo-title {
		font-size: 4.75vh;
		margin-bottom: 3vh;
	}

	.avatar-details i {
		font-size: 5vh;
		margin-left: 1vw;
		margin-right: 1vw;
	}

	.avatar-details-container {
		margin-top: 6.5vh;
		margin-left: 23vh;
	}

	.nav-bar {
		margin-top: .75vh;
		min-height: 5vh;
		-moz-box-shadow: 0px .25px .25px #000000;
	    -webkit-box-shadow: 0px .25px .25px #000000;
	    box-shadow: 0px .25px .25px #000000;
	    vertical-align: middle;
	}

	.nav-bar-links {
		line-height: 5vh;
		margin-top: .4vh;
	}

	.nav-bar-links li {
		padding-left: 10px;
		padding-right: 10px;
		margin-top: .5vh;
		margin-bottom: .5vh;
		margin-left: 7.5vw;
		margin-right: 7.5vw;
		font-weight: 400;
	}

}

@media screen and (min-width:600px) {

	.header-container {
		width: 100vw;
		height: 15vh;
		background-color: #352356;
	}

}

/* Effects from Hover.css */

/* Rectangle In */
.hvr-rectangle-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #FFFFFF;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0099FF;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
  color: #0099FF;
}
.hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}
