html, body {
    background-color: #F5F5F5;
    font-family: "Lato", sans-serif;
}

.fa-github-square {
	color: #000000;
}

.fa-github-square:hover {
	color: #888888;
}

.fa-linkedin-square {
	color: #0077B5;
}

.fa-linkedin-square:hover {
	color: #66CCF5;
}


.fa-facebook-square {
	color: #3b5998;
}

.fa-facebook-square:hover {
	color: #6bA9F8;
}


@media screen and (max-width:599px) {

	.header-container {
		margin: 0px;
		padding-left: 2vw;
		padding-right: 0vw;
		padding-top: .75vh;
		padding-bottom: .75vh;
		width: 100vw;
		height: 25vh;
	}

	.logo {
		float: left;
		position: relative;
		width: 96vw;
		margin-top: 0px;
		height: auto;
		display: inline-block;
	}

	.avatar {
		float: left;
	}

	.logo .profile-image {
		vertical-align: middle;
		width: 22vh;
		height: 25vh;
		-moz-box-shadow: 2px 2px 2px #000000;
	    -webkit-box-shadow: 2px 2px 2px #000000;
	    box-shadow: 2px 2px 2px #000000;
	    -moz-border-radius: 2px;
	    -webkit-border-radius: 2px;
	}

	.avatar-details {
		display: block;
		text-align: center;
		margin-left: 1vw;
	}

	.logo-title {
		font-size: 4.75vh;
		margin-bottom: 3vh;
	}

	.avatar-details i {
		font-size: 5vh;
		margin-left: 1vw;
		margin-right: 1vw;
	}

	.avatar-details-container {
		margin-top: 6.5vh;
		margin-left: 23vh;
	}

}

@media screen and (min-width:600px) {

	.header-container {
		width: 100vw;
		height: 15vh;
		background-color: #352356;
	}

}

