html, body {
    background-color: #000000;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    background: url("../images/background.png");
    background-size: 100% 100%;
    font-family: "Lato", sans-serif;
}

.container-fluid, .content-pane {
	background-color: rgba(30, 30, 30, .8);
}

/* 
 * Navigation bar css code 
 */
header div.row div.col-md-12 {
	background-color: rgba(0, 0, 0, 0.7);
	opacity: .85;
	box-shadow: 0px 1px 5px #000000;
	max-height: 5vh;
}

.navbar a {
	cursor: pointer;
}

.navbar h2 {
    font-size: 1em;
    margin-top: 1.5vh;
    text-align: center;
	color: #FFFFFF;
}

.navbar .active {
	font-style: italic;
	background-color: #232323;
}

.nav-page:hover {
	background-color: #003333;
	box-shadow: 0px 2px 2px #FFFFFF;
}

/*
 * Sidebar css code
 */
.sidebar {
	position: relative;
	margin-left: 2vw;
	background-color: rgba(0, 0, 0, .7);
	margin-top: 2.5vh;
	margin-bottom: 2.5vh;
	min-height: 90vh;
	box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
	text-align: center;
	color: #FFFFFF;
	z-index: 4;
}

.picture {
	margin-top: 2vh;
	height: 33vh;
	width: 90%;
	max-width: 512px;
	border-style: groove;
	border-width: 5px;
}

.icon-box {
	width: 100%;
	margin-top: 3vh;
}

.icon-box i {
	color: #FFFFFF;
}

.icon-box .fa-github {
	margin-right: 1vw;
}

.icon-box i:hover {
	color: #999999;
}

.sidebar h2 {
	margin-top: 3vh;
	font-size: 1.8em;
	font-weight: bold;
}

.seperator {
	width: 90%;
	margin-top: 3vh;
	margin-left: 5%;
	height: .1vh;
	background-color: #FFFFFF;
	box-shadow: 0px 2px 1px #FFFFFF;
}

.about-me {
	font-style: italic;
	margin-top: 3vh;
	margin-left: 1vw;
	width: 90%;
}

.about-me h3 {
	font-size: 1.3em;
}

.about-me p {
	text-align: justify;
	margin-top: .75vh;
	font-size: .9em;
	line-height: 3vh;
}

/*
 * Gallary css
 */
.page-content {
	position: relative;
	min-height: 90vh;
	min-width: 70vw;
	margin-top: 2.5vh;
	margin-left: 3vw;
	color: #FFFFFF;
}

.gallary {
	position: absolute;
	min-height: 90vh;
	min-width: 70vw;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
}

.resume-content, .portfolio-content, .contact-content {
	position: absolute;
	min-height: 90vh;
	min-width: 70vw;
	background-color: rgba(0, 0, 0, 0.8);
	box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
	visibility: hidden;
}

.gallary-title {
	margin-top: 3vh;
	min-width: 100%;
	color: #FFFFFF;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	margin-bottom: 3vh;
}

.gallary-subtext {
	margin-top: 3vh;
	color: #FFFFFF;
	font-size: 1em;
	font-style: italic;
	text-align: center;
}

.slideshow img {
	margin-left: 5%;
	height: 100%;
	width: 90%;
	border-color: rgba(200, 200, , 0.8);
	border-style: inset;
	border-width: 2px;
}

.resume-text-box {
	float: left;
	position: relative;
	margin-left: 2.5%;
	display: inline-block;
	min-height: 40vh;
	max-height: 40vh;
	min-width: 45%;
	max-width: 45%;
	color: #FFFFFF;
	margin-top: 2.5%;
}

.resume-text-box h4 {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 5vh;
}

.resume-text-box h5 {
	margin-top: 2vh;
	font-weight: bold;
	font-size: 1em;
}

.resume-text-box p, .resume-text-box li {
	font-size: .8em;
	font-style: italic;
}

.portfolio-content, .contact-content h4 {
	margin-top: 4vh;
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 5vh;
}

.portfolio-subtext {
	font-size: .5em;
}

.portfolio-title {
	font-size: 1em;
}