@import 'header.css';
@import 'nav.css';

html, body {
        background-color: #DDDDDD;
}

div.announcement {
	float: left;
	display: block;
	border: 2px;
	border-style: groove;
	border-color: #000000;
	margin-top: 10px;
	margin-left: 29.4%;
	height: 200px;
	width: 40%;
	background-color: #FFFFFF;
}

div#wrapper {
	width: 100%;
	height: 950px;
}

div.content {
	position: relative;
	float: left;
	display: block;
	border: 2px;
	border-style: groove;
	border-color: #000000;
	margin-top: 10px;
	margin-left: 5%;
	height: 450px;
	width: 44.2%;
	background-color: #FFFFFF;
	font-family: "Georgia", sans-serif;
}

div a#ccsu {
	float: right;
	margin-right: 5%;
}

div.content h1 {
	margin-top: 10px; 
	font-size: 40px
}

div.content h2 {
	font-size: 20px; 
	font-weight: bold; 
	padding: 0px 25px;
}

div.content h3 {
	font-size: 18px;
	font-weight: bold;
	padding: 0px 25px;
}

div.content ul li {
	padding: 0px 45px;
}

div.content p {
	font-size: 15px; 
	padding: 0px 25px;
	text-indent: 3em;
	line-height: 25px;
}

div#accomplishments,
div#education {
	margin-left: 1.31%;
}

div#accomplishments ul li,
div#skills ul li {
	line-height: 40px;
}
