html, body {
    background-color: #F5F5F5;
    font-family: "Lato", sans-serif;
}

.fa-github-square {
	color: #000000;
}

.fa-github-square:hover {
	color: #888888;
}

.fa-linkedin-square {
	color: #0077B5;
}

.fa-linkedin-square:hover {
	color: #66CCF5;
}


.fa-facebook-square {
	color: #3b5998;
}

.fa-facebook-square:hover {
	color: #6bA9F8;
}

.nav-bar {
	width: 100vw;
	background-color: #0099FF;
	color: #FFFFFF;
	text-align: center;
}

.nav-bar-links {
	display: inline-block;
	list-style-type: none;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.nav-bar-links li {
	float: left;
}

.active {
	border-bottom: thin solid rgba(250, 250, 250, 1);
}

.content-block-header {
	padding-bottom: 1vh;
	border-bottom: thin double rgba(60, 60, 60, 0.2);
	font-size: 2.33vh;
}

.content-block-content {
	margin-top: 1vh;
	font-size: 1.6vh;
	line-height: 2.25vh;
}

@media screen and (max-width:769px) {

	.header-container {
		margin: 0px;
		padding-left: 2vw;
		padding-right: 0vw;
		padding-top: .75vh;
		padding-bottom: .75vh;
		width: 100vw;
		height: 25vh;
	}

	.logo {
		float: left;
		position: relative;
		width: 96vw;
		margin-top: 0px;
		height: auto;
		display: inline-block;
	}

	.avatar {
		float: left;
	}

	.logo .profile-image {
		vertical-align: middle;
		width: 22vh;
		height: 25vh;
		-moz-box-shadow: 2px 2px 2px #000000;
	    -webkit-box-shadow: 2px 2px 2px #000000;
	    box-shadow: 2px 2px 2px #000000;
	    -moz-border-radius: 2px;
	    -webkit-border-radius: 2px;
	}

	.avatar-details {
		display: block;
		text-align: center;
		margin-left: 1vw;
	}

	.logo-title {
		font-size: 4.75vh;
		padding-top: 2vh;
		padding-bottom: 2vh;
		margin-top: -2vh;
		margin-bottom: 1vh;
		border-style: solid;
		border-bottom: thin dashed rgba(60, 60, 60, 0.6);
	}

	.avatar-details i {
		font-size: 5vh;
		margin-left: 1vw;
		margin-right: 1vw;
	}

	.avatar-details-container {
		margin-top: 6.5vh;
		margin-left: 23vh;
	}

	.nav-bar {
		margin-top: .75vh;
		min-height: 5vh;
		-moz-box-shadow: 0px .25px .25px #000000;
	    -webkit-box-shadow: 0px .25px .25px #000000;
	    box-shadow: 0px .25px .25px #000000;
	    vertical-align: middle;
	}

	.nav-bar-links {
		line-height: 5vh;
		margin-top: .4vh;
	}

	.nav-bar-links li {
		padding-left: 10px;
		padding-right: 10px;
		margin-top: .5vh;
		margin-bottom: .5vh;
		margin-left: .75vw;
		margin-right: .75vw;
		font-weight: 400;
	}

	.content-container {
		width: 96.35vw;
		margin-left: 0px;
		margin-right: auto;
		margin-top: 2vh;
	}

	.content-block {
		width: 100%;
		background-color: #FFFFFF;
		-moz-box-shadow: .1px .1px .1px #000000;
	    -webkit-box-shadow: .1px .1px .1px #000000;
	    box-shadow: .1px .1px .1px #000000;
	    padding-left: 1.5vw;
	    padding-right: 2vw;
	    padding-top: 1.25vh;
	    padding-bottom: 1.25vh;
	}

}

@media screen and (min-width:769px) {

	.header-container {
		margin-left: auto;
		margin-right: auto;
		padding-top: 1.25vh;
		padding-bottom: .75vh;
		width: 33.33vw;
		height: 22vh;
	}

	.logo {
		margin-left: auto;
		margin-right: auto;
		float: left;
		position: relative;
		height: auto;
		display: inline-block;
	}

	.avatar {
		float: left;
		margin-left: 3.5vw;
	}

	.logo .profile-image {
		width: 19vh;
		height: 22vh;
		-moz-box-shadow: .5px .5px .5px #000000;
	    -webkit-box-shadow: .5px .5px .5px #000000;
	    box-shadow: .5px .5px .5px #000000;
	    -moz-border-radius: 2px;
	    -webkit-border-radius: 2px;
	}

	.avatar-details {
		display: block;
		text-align: center;
		margin-left: 3vw;
	}

	.logo-title {
		font-size: 2.25vw;
		border-style: solid;
		padding-top: 2vh;
		padding-bottom: 2vh;
		padding-right: 1vw;
		padding-left: 1vw;
		margin-top: -2vh;
		margin-right: -1vw;
		margin-left: -1vw;
		margin-bottom: 2vh;
    	border-bottom: thin dashed rgba(60, 60, 60, 0.6);
	}

	.avatar-details i {
		font-size: 4.75vh;
		margin-left: .33vw;
		margin-right: .33vw;
	}

	.avatar-details-container {
		margin-top: 5.5vh;
		margin-left: 13vw;
	}

	.nav-bar {
		margin-top: .7vh;
		-moz-box-shadow: 0px .5px .5px #000000;
	    -webkit-box-shadow: 0px .5px .5px #000000;
	    box-shadow: 0px .5px .5px #000000;
	}

	.nav-bar-links {
		width: 37vw;
		line-height: 3.5vh;
		margin-top: .3vh;
		font-size: 1.25vw;
	}

	.nav-bar-links li {
		padding-left: 10px;
		padding-right: 10px;
		margin-top: .5vh;
		margin-bottom: .5vh;
		margin-left: 1.25vw;
		margin-right: 1.25vw;
		font-weight: 400;
		cursor: pointer;
	}

	.nav-bar-links .home {
		margin-left: 3vw;
	}

	.nav-bar-links .contact {
		margin-right: -3vw;
	}

	.content-container {
		width: 35vw;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2vh;
	}

	.content-block {
		width: 100%;
		background-color: #FFFFFF;
		-moz-box-shadow: .1px .1px .1px #000000;
	    -webkit-box-shadow: .1px .1px .1px #000000;
	    box-shadow: .1px .1px .1px #000000;
	    -moz-border-radius: 2px;
	    -webkit-border-radius: 2px;
	    padding-left: .75vw;
	    padding-right: .75vw;
	    padding-top: 1.25vh;
	    padding-bottom: 1.25vh;
	}
	
}

/* Effects from Hover.css */

/* Rectangle In */
.hvr-rectangle-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #FFFFFF;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-in:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0099FF;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-in:hover, .hvr-rectangle-in:focus, .hvr-rectangle-in:active {
  color: #0099FF;
}
.hvr-rectangle-in:hover:before, .hvr-rectangle-in:focus:before, .hvr-rectangle-in:active:before {
  -webkit-transform: scale(0);
  transform: scale(0);
}

/* Pop */
@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pop:hover, .hvr-pop:focus, .hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
